body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1651px;
  height:3217px;
}
#u288 {
  position:absolute;
  left:27px;
  top:28px;
  width:1651px;
  height:3217px;
}
#u289 {
  position:absolute;
  left:2px;
  top:1600px;
  width:1647px;
  visibility:hidden;
  word-wrap:break-word;
}
