body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:2771px;
}
#u0 {
  position:absolute;
  left:60px;
  top:25px;
  width:1190px;
  height:2771px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1378px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
